h1 {
  color: #9A3412;
  text-align: center;
  font-size: 4rem;
  font-family: 'Fantasy', sans-serif;
  background-color: #FDE68A;
}

nav {
    text-align: center;
  font-size: 2rem;
  font-family: 'Fantasy', sans-serif;
  background-color: #ffffff;
}

ul {
    
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #9A3412;
  padding: 10px 20px;
  display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
  margin: 5px;
  border: 2px solid #ac7c5f;
    background-color: #fffae6;
    padding: 10px 20px;
    border-radius: 5px;
}

body {
  background-color: #ffffff;
   text-align: center;
    border: 2px solid #78350F;
    margin: 20px auto;
    padding: 50px 45px;
    max-width: 650px;
    background-image: ;
}